
*, *:before, *:after {
box-sizing: border-box;
}

body {
  background-color: #dadada;
  display: block;
}


.logo {
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.container{
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.preview {
  margin: 0 0 5% 0;
  padding: 3% 0 20% 3%;
  width: 100%;
  font-size: 18px;
  float: left;
}

.baku{
background: url("../images/baku.jpg") no-repeat;
background-size: cover;
}

.london{
  background: url("../images/london.png") no-repeat;
  background-size: cover;
}

.madrid{
  background: url("../images/madrid.jpg") no-repeat;
  background-size: cover;
}


.rome{
  background: url("../images/rome.jpg") no-repeat;
  background-size: cover;
}

@media (min-width: 575px) {
  .preview{
    width: 48%;
    margin: 1%;
  }
}

@media (min-width: 991px) {
  .preview{
    width: 23%;
    margin: 1%;
  }
}

@media (min-width: 1199px) {
  .preview{
    width: 23%;
    margin: 1%;
    padding: 1% 0 0% 1%;
  }
}
